<html>
    <head>
        <title>
            <%= title %>
        </title>
      <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      
        <div class="container">
            <h1>Todo List </h1>
            <div class="input">

            
            <form action="/create_task" method="post">
                <input type="text" name="desc" id="desc" class="desc" placeholder="What you want to do " required>
                <div class="insideContainer">
                    <select id="category" name="category" class="category" placeholder="Description">
                     <option value="Personal">Personal</option>
                     <option value="Work">Work </option>
                     <option value="Side Hustle">Side Hustle </option>
                     <option value="Fitness">Fitness</option>
                    </select>
                    <input type="date" id="date" name="date" class="date" placeholder="dd/mm/yyyy">
                   
                </div>
                <button type="submit" class="btnAdd" >+ Add Task </button>
              
            </form>
            </div> 
                       

            <div class="result">
                <% var month = ["Jan", "Feb", "Mar", "Apr", "May","Jun", "Jul", "Aug", "Sep", "Nov", "Dec"] %> 
    
  
                 <%for(let i  of task_list){ %>
                    <div class="resultContainer">
                        <div class="checkbox">
                            <input type="checkbox">
                        </div>


                    
                    <div class="item">
                        
                        <p class="desc"><%= i.desc %></p>
                        <% let str = month[i.date.getMonth()] + " " + i.date.getDate()  + "," +  i.date.getFullYear()  %>
                        <p class="date"><i class="fa-solid fa-calendar"></i> <%= str %></p>
                        <div class="label">
                             <p class="categoryPara"> <%= i.category %></p>
                        </div>
                        <div class="delete">
                            <a href="/delete_task/?id=<%= i.id %>"> <i class="fa-solid fa-trash"></i></a>
                        </div>
                       
                    </div>
                </div>
                 <% } %>


            </div>

        </div>
        <script src="/js/style.js"></script>
        <script src="https://kit.fontawesome.com/c92b5cf5c7.js" crossorigin="anonymous"></script>
    </body>
</html>